<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unipd.dei.magnetophone">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme.SettingsTheme"> -->
        <!-- android:theme="@style/AppTheme" -->
        <service
            android:name=".MusicService"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.MagnetophoneActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light">

            <!-- android:theme="@style/AppFullScreenTheme"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SongEditActivity"
            android:label="@string/title_activity_single_song_settings"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ImportSongActivity"
            android:label="@string/title_activity_import_song"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.pdf.PDFActivity"
            android:label="@string/title_activity_import_song"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AudioFilePickerActivity"
            android:label="@string/title_activity_audio_file_picker"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.pdf.PDFFilePickerActivity"
            android:label="@string/title_activity_pdf_file_picker"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <!--
        I didn't find it
        <activity
            android:name="unipd.dei.magnetophone.ImageFilePickerActivity"
            android:label="@string/title_activity_image_picker" >
        </activity>
        -->

        <activity
            android:name=".activity.LibraryActivity"
            android:label="@string/title_activity_library"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.deprecated.SongDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LibraryActivity" />
        </activity>
        <activity
            android:name=".activity.MonitorSetupActivity"
            android:label="@string/monitor_setup_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SlideShowActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!--
        <activity
            android:name="unipd.dei.whatsnew.main.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="unipd.dei.whatsnew.videoprocessing.VideoProcessingActivity"
            android:label="@string/title_activity_videoprocessing"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="unipd.dei.whatsnew.filemanager.FileManagerActivity"
            android:label="@string/title_activity_filemanager"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <service
            android:name="unipd.dei.whatsnew.videoprocessing.VideoProcessingService"
            android:exported="false"/>
        -->
    </application>

</manifest>